@import "variables";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    box-sizing: border-box;
}

main {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}